@value badgerRed, badgerWhite, badgerBlack, cainYellow from "../../../css/_colors.css";
@value mediumScreen, largeScreen from "../../../css/_sizes.css";

.arrow svg {
  height: 15px;
  margin: 0 10px;
}

.homepageTopSlice {
  padding: 50px 20px 100px 20px;
  text-align: center;
  background-color: badgerWhite;
  color: badgerBlack;
}

.sloganWrapper {
  position: relative;
  cursor: pointer;
  margin-bottom: 80px;
  display: block;
  color: #212121;
}

.badgerSlogan {
  composes: fontXL from '../../../css/typography/_fonts.css';
  composes: serif from '../../../css/typography/_fonts.css';
  display: inline-block;
  border-bottom: 2px solid badgerWhite;
  text-align: center;
}

.writingSpace {
  height: 120px;
  width: 700px;
  margin: 0 auto;
  border-bottom: 3px solid #212121;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  opacity: 0;
}

.writingPath {
  stroke: cainYellow;
}

.writingPathAnimate {
  animation: drawPath 3s linear forwards;
}

@keyframes drawPath {
  to {
    stroke-dashoffset: 0;
  }
}

.animateOut {
  animation: slideOut 0.3s ease-in forwards;
  animation-delay: 0.5s;
}

@keyframes slideOut {
  to {
    transform: translate(calc(-1 * (50vw + 50%)));
  }
}

.sloganWrapper:hover h1 {
  border-bottom: 2px solid badgerRed;
}

.lastWord {
  white-space: nowrap;
}

.lastWord i {
  width: 22px;
  display: inline-block;
}

.sloganLink {
  color: badgerBlack;
  border-bottom: 0;
}

.sloganLink:hover {
  border-bottom: 0;
}

.sloganLink:hover .sloganUnderline {
  border-bottom: 2px solid badgerRed;
}

.sloganLink:hover .sloganUnderline i {
  border-bottom: 0;
}

.sloganDescription {
  composes: fontM from '../../../css/typography/_fonts.css';
  composes: serif from '../../../css/typography/_fonts.css';
}

@media mediumScreen {
  .homepageTopSlice {
    text-align: left;
    padding: 50px 100px 100px 120px;
  }

  .sloganWrapper {
    margin-bottom: 30px;
  }

  .badgerSlogan {
    display: inline-block;
  }
}

@media largeScreen {
  .arrow svg {
    height: 20px;
  }

  .homepageTopSlice {
    text-align: center;
    padding: 160px 0 230px 0;
  }

  .sliceContainer {
    max-width: 850px;
    display: inline-block;
    text-align: left;
  }
}
